.wrapper {
  position: fixed;
  left: 50%;
  flex-direction: column;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: fit-content;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}

.header h2 {
  margin: 0;
}

.footer {
  margin: 0;
}
